{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": 0
  }
}
